.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 96px 50px 96px;
}

.header__menu {
  justify-content: flex-start;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style-position: outside;
  list-style-type: circle;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}
.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 100%;
  padding: 4px 4px 4px 4px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #000;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  font-style: normal;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 757px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 165px 50px 48px;
}

.overlay {
  position: absolute;
  z-index: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
}

.cover__title {
  z-index: 1;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  margin-top: 18px;
  margin-left: 28px;
}

.aligned-text_right {
  text-align: end;
  margin-top: 15px;
  margin-left: 611px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: -0.024em;
  word-spacing: 1em;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  padding: 175px 24px 120px 24px;
  gap: 29px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
}

.lots__card-list-item {
  flex: 1;
  min-width: 334px;
}

.card-link {
  display: block;
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 596px;
  padding: 48px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  z-index: 1;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  z-index: 1;
}

.lots__look-more-link {
  font-weight: 400;
  font-size: 20px;
  color: #000;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  padding-left: 40px;
}

.about {
  display: grid;
  grid-template-columns: 310px auto;
  padding: 33px 24px 180px 73px;
}

.about__logo {
  height: 240px;
  width: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 150px;
  height: auto;
}

.about__column {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
  padding-top: 101px;
}

.about__text:nth-child(3) {
  padding-top: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px 50px;
}

.footer__address {
  max-width: 260px;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #000;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  font-style: normal;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-list-item {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #000;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-content: end;
  align-items: center;
  padding-bottom: 131px;
}

.footer__social-icon {
  width: 48px;
  height: 100%;
}
